HEADSCALE_SERVER_URL=https://headscale.onrender.com:443/
HEADSCALE_BASE_DOMAIN=hpc-lab.internal
REPLICA1_BUCKET=headscale-backup
REPLICA1_ENDPOINT=https://9802ab683112655af361cf5a52725f45.r2.cloudflarestorage.com
REPLICA1_REGION=auto
REPLICA1_ACCESS_KEY_ID=bfad713a1643f71270b04032438a5891
REPLICA1_SECRET_ACCESS_KEY=aa4c07ebc228ac284e51a5f44d74b50fddfb18da65a67a46ea440f5bf5d63f3b
